@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --bg-color: #f3e5d8;
  --green: #255538;
  --light-brown: #7e4333;
  --grey: #dfdfdf;

  --first-font: "DM Serif Display", serif;
  --secundary-font: "DM Sans", sans-serif;
}

/* Globales */

body {
  transition: color 0.3s ease-out;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Dark Mode */

#light-mode-icon {
  display: none;
}

body.dark-mode {
  color: white;
}

body.dark-mode main {
  background-color: #2f2f2f;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: #4e4d4e;
}

body.dark-mode h1,
body.dark-mode label {
  color: white;
}

/* Form Description */

.main {
  margin: 2.3rem 0.6rem;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

.main__title {
  font-size: clamp(2rem, 7.08vw, 2.2rem);
  margin: 0;
  color: var(--light-brown);
}

.main__description {
  font-family: var(--secundary-font);
  font-size: clamp(0.8rem, 2.85vw, 1rem);
}

/*  Form */

.main__form {
  margin-top: 1.2rem;
}

.main__form__label {
  font-size: clamp(1.2rem, 4.25vw, 1.4rem);
  color: var(--light-brown);
}

.main__form__input,
.main__form__textarea {
  width: 100%;
  height: 2rem;
  border-radius: 6px;
  border-style: none;
  background-color: var(--grey);
  margin: 0.9rem 0;
  font-family: var(--secundary-font);
  padding: 0.5rem;
}

.main__form__textarea {
  height: 8.6rem;
  resize: none;
}

.main__form__submit {
  margin-top: 0.5rem;
  width: 100%;
  background-color: var(--green);
  border-radius: 6px;
  height: 2.5rem;
  font-family: var(--secundary-font);
  color: white;
  cursor: pointer;
}

.main__form__submit:hover {
  background-color: #277646;
}

.main__form__reset {
  margin-top: 0.5rem;
  width: 100%;
  background-color: #96271b;
  border-radius: 6px;
  height: 2.5rem;
  font-family: var(--secundary-font);
  color: white;
  cursor: pointer;
}

.main__form__reset:hover {
  background-color: #ce2815;
}

/* ScrollBar */

::-webkit-scrollbar {
  background-color: #deccba;
  border: 2px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 100px;
}

/* ScrollBar Firefox */

scrollbar {
  background-color: #deccba;
  border: 2px solid black;
  border-radius: 2px;
}

scrollbar thumb {
  background-color: var(--green);
  border-radius: 100px;
}

/* Tablet Mode */

@media (min-width: 768px) {
  .botton-container {
    display: flex;
    column-gap: 4vw;
    font-size: 2.8vw;
  }
}

/* Desktop Mode */

@media (min-width: 1024px) {
  .main {
    margin: 2.5rem auto;
    width: 60vw;
    max-width: 100rem;
    border-radius: 10px;
    padding: 1.5rem;
  }

  .botton-container {
    column-gap: 1rem;
  }

  .main__form__submit,
  .main__form__reset {
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0;
  }
}
