@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --light-brown: #7e4333;
  --first-font: "DM Serif Display", serif;
  --secundary-font: "DM Sans", sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

/* Background Title ==========================================*/

.main {
  margin: 2rem 0.625rem;
  margin-bottom: 4.5rem;
}

.main__background {
  height: 18.4rem;
  background-image: url(../assets/img/simple_omelette.webp);
  position: relative;
  background-position: 5% 55%;
  background-size: 65rem;
  border-radius: 8px;
}

.main__background__info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.main__background__info__title {
  font-size: 2.7rem;
  text-align: center;
  color: white;
  padding: 0 15px;
}

.main__background__info__title--desktop {
  display: none;
}

/* Main-section */

.main__recipes {
    margin-bottom: -1.5rem;
}

.main__recipes-title {
  font-size: clamp(1.6rem, 6.06vw, 6.06vw);
  text-align: center;
  margin: 2rem 0;
}

.main__recipes__article {
  border: solid 3px black;
  border-radius: 6px;
  padding: 1rem;
  background-color: white;
  margin-bottom: 2rem;
}

.main__recipes__article:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.495);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.486);
}

.main__recipes__article__image {
  width: 100%;
  height: 10rem;
  border-radius: 6px;
}

.main__recipes__article__title {
  font-size: clamp(1.8rem, 6.43vw, 6.43vw);
  color: var(--light-brown);
  font-family: var(--first-font);
  margin: 1.5rem 0;
}

.main__recipes__article__list {
  padding: 0 30px;
}

.main__recipes__article__list__item {
  padding: 0;
  font-size: clamp(0.9rem, 3.036vw, 3.036vw);
  font-family: var(--secundary-font);
}

/* Tablet Mode */

@media (min-width: 768px) {

  .main__background__info__title {
    font-size: clamp(2.8rem, 7.27vw, 7.27vw);
  }

  .main__recipes {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 1.5rem;
  }

  .main__recipes__article {
    height: 23rem;
  }

  .main__recipes__article__title {
    font-size: clamp(1.6rem, 4.5vw, 4.5vw);
    margin: 1.2rem 0;
  }

  .main__recipes__article__list__item {
    font-size: clamp(0.9rem, 2.2vw, 2.2vw);
  }
}

/* Desktop Mode */

@media (min-width: 1024px) {
    .main {
      margin: 1.6rem auto;
      min-width: 30rem;
      width: 85vw;
      max-width: 65rem;
    }

    .main__background {
      height: clamp(18.4rem, 20.2vw, 35rem);
      background-size: cover;
    }

    .main__background__info {
      justify-content: flex-start;
      padding-left: 1rem;
    }

    .main__background__info__title {
      text-align: start;
      font-size: clamp(2.5rem, 4vw, 4.5rem);
    }

    .main__background__info__title--desktop {
      display: inline;
      font-size: clamp(1.8rem, 3vw, 4rem);
    }

    .main__recipes-title {
      font-size: clamp(1.6rem, 3vw, 3rem)
    }

    .main__recipes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .main__recipes__article {
      padding: 1rem;
      height: 21rem;
    }

    .main__recipes__article__title {
      font-size: clamp(1.2rem, 1.8vw, 2.5rem);
      margin: .5rem 0;
    }

    .main__recipes__article__list {
      padding: 0 1.8rem;
      margin: 1rem 0;
    }

    .main__recipes__article__list__item {
      font-size: clamp(0.9rem, .8vw, 1.8rem);
    }

}
