@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --bg-color: #f3e5d8;
  --light-brown: #7e4333;
  --green: #255538;
  --first-font: "DM Serif Display", serif;
  --secundary-font: "DM Sans", sans-serif;
}

/* Globals ================================================================================================*/

body {
  transition: color 0.3s ease-out;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

/* Dark Mode ==============================================================================================*/

document.dark-mode {
  background-color: black;
}

body.dark-mode,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode .main__recipes__article__list {
  color: white;
}

body.dark-mode .main__recipes__article:hover,
body.dark-mode .main__location__map:hover,
body.dark-mode .main__opinions__opinion:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.495);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 15px 0px rgba(242, 238, 238, 0.516);
}

body.dark-mode .main__recipes__article,
body.dark-mode .main__opinions__opinion {
  background-color: #2f2f2f;
}

body.dark-mode::-webkit-scrollbar, 
body.dark-mode scrollbar {
  background-color: #2f2f2f;
  border: #deccba 2px;
  border-bottom: none;
  border-top: none;
}

body.dark-mode::-webkit-scrollbar-thumb, 
body.dark-mode scrollbar thumb {
  background-color: #2e7d4f;
}

/* Background Title =======================================================================================*/

.main {
  margin: 2rem 0.625rem;
  margin-bottom: 4.5rem;
}

.main__background {
  height: 18.4rem;
  background-image: url(../assets/img/simple_omelette.webp);
  position: relative;
  background-position: 5% 55%;
  background-size: 65rem;
  border-radius: 8px;
}

.main__background__info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.main__background__info__title {
  font-size: 2.7rem;
  text-align: center;
  color: white;
  padding: 0 15px;
}

.main__background__info__title--desktop {
  display: none;    /* Hide long recipe title from mobile mode */
}

/* Main-section ===========================================================================================*/

.main__recipes-title,
.main__location__title,
.main__opinions__title {
  font-size: clamp(1.6rem, 6.06vw, 6.06vw);
  text-align: center;
  margin: 2rem 0;
}

.main__recipes__article__title__Desktop {
  display: none;
}

.main__recipes__article {
  border: solid 3px black;
  border-radius: 6px;
  padding: 1rem;
  background-color: white;
  margin-bottom: 2rem;
  transition: box-shadow 0.2s ease-in-out;
}

.main__recipes__article:hover,
.main__location__map:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.495);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.486);
}

.main__recipes__article__image {
  width: 100%;
  height: 10rem;
  border-radius: 6px;
  object-fit: cover;
}

.main__recipes__article__title {
  font-size: clamp(1.8rem, 6.43vw, 6.43vw);
  color: var(--light-brown);
  font-family: var(--first-font);
  margin: 1.5rem 0;
}

.main__recipes__article__list {
  padding: 0 1rem;
}

.main__recipes__article__list__item {
  padding: 0;
  font-size: clamp(0.9rem, 3.036vw, 3.036vw);
  font-family: var(--secundary-font);
}

/* Divisor ================================================================================================*/

.first-divisor {
  width: 100%;
  background-color: #255538;
  height: clamp(2rem, 2vw, 5rem);
  position: absolute;
  left: 0;
  border: 3px solid black;
}

/* Opinions ===============================================================================================*/

.main__opinions__opinion {
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem 1.5rem;
  border: 3px solid black;
  margin-bottom: 2rem;
}

.main__opinions__title,
.main__location__title {
  margin-top: 6rem;
}

.main__opinions__opinion__user-info {
  display: flex;
  column-gap: 1rem;
}

.main__opinions__opinion__user-info__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1px black;
}

.main__opinions__opinion__user-info__username {
  font-size: 1.3rem;
  margin: 0;
  align-self: center;
}

.main__opinions__opinion__comment {
  margin: 30px 0;
  font-family: var(--secundary-font);
  font-size: clamp(0.96rem, 1.6vw, 1.6rem);
  height: auto;
}

.main__opinions__opinion__valoration {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-bottom: 0.6rem;
}

.main__opinions__opinion__valoration__number {
  margin: 0;
  font-size: 28px;
  font-family: var(--secundary-font);
}

.main__opinions__tablet-opinion,
hr {
  display: none;    /* hide due to this hr is part of tablet mode */
}

/* Location ===============================================================================================*/

.main__location__map {
  width: 100%;
  height: 15rem;
  border: solid 5px black;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out;
}

/* ScrollBar ==============================================================================================*/

::-webkit-scrollbar {
  background-color: #deccba;
  border: 2px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 100px;
}

/* ScrollBar Firefox ======================================================================================*/

scrollbar {
  background-color: #deccba;
  border: 2px solid black;
  border-radius: 2px;
}

scrollbar thumb {
  background-color: var(--green);
  border-radius: 100px;
}

/* ======================================================================================================= */
/* Tablet Mode */
/* ======================================================================================================= */

@media (min-width: 768px) {

  /* Background Section ========================================*/

  .main__background__info__title {
    font-size: clamp(2.8rem, 7.27vw, 7.27vw);
  }

  /* Recipe section ============================================*/

  .main__recipes {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 1.5rem;
  }

  .main__recipes__article {
    height: 23rem;
    max-height: 24rem;
  }

  .main__recipes__article__title {
    font-size: clamp(1.6rem, 4.5vw, 4vw);
    margin: 1.2rem 0;
  }

  .main__recipes__article__list__item {
    font-size: clamp(0.9rem, 2.2vw, 1.5vw);
  }

  /* Opinions section ==========================================*/

  .main__opinions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .main__opinions__title,
  .main__location__title {
    margin-top: 4.5rem;
  }

  .main__opinions__opinion__comment {
    font-size: 0.95rem;
  }

  .main__opinions__tablet-opinion {     /* part of opinions in tablet mode */
    display: block;
    background-color: var(--green);
    border-radius: 20px;
    padding: 1.5rem 1.5rem;
    border: 5px solid black;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: space-around;
  }

  .main__opinions__tablet-opinion__text {
    font-size: clamp(1.5rem, 6vw, 6vw);
    text-align: center;
    color: white;
    margin: 20px;
  }

  hr {                  /* part of opinions in tablet mode */
    display: inline;
    width: 100%;
    height: 2px;
  }

  /* Location section ==========================================*/

  .main__location {
    padding: 0 2rem;
  }

  .main__location__map {
    height: 20rem;
  }
}

/* ======================================================================================================= */
/* Desktop Mode */
/* ======================================================================================================= */

@media (min-width: 1024px) {

  /* Main Background =========================================== */

  .main {
    margin: 1.6rem auto;
    min-width: 30rem;
    width: 85vw;
    max-width: 65rem;
  }

  .main__background {
    height: clamp(18.4rem, 20.2vw, 35rem);
    background-size: cover;
  }

  .main__background__info {
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .main__background__info__title {
    text-align: start;
    font-size: clamp(2.5rem, 4vw, 4.5rem);
  }

  .main__background__info__title--desktop {
    display: inline;
    font-size: clamp(1.8rem, 3vw, 4rem);
  }

  /* Recipes section =========================================== */

  .main__recipes-title,
  .main__location__title,
  .main__opinions__title {
    font-size: clamp(1.6rem, 3vw, 3rem);
  }

  .main__recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__recipes__article {
    height: max-content;
  }

  .main__recipes__article__title {
    font-size: clamp(1.2rem, 1.8vw, 2.5rem);
    margin: 0.5rem 0;
  }

  #hide {           /* title that is hidden in Desktop mode due to it's used desktop recipe title */
    display: none;
  }

  .main__recipes__article__title__Desktop {
    display: block;
  }

  .main__recipes__article__list {
    margin: 1rem 0;
  }

  .main__recipes__article__list__item {
    font-size: clamp(0.9rem, 0.8vw, 1.8rem);
  }

  /* Opinions section ========================================== */

  .main__opinions {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 2rem;
  }

  .main__opinions__opinion {
    width: 30%;
    padding: 1.5rem 2rem;
  }

  .main__opinions__opinion__comment {
    font-size: clamp(0.75rem, 1.2vw, 1rem);
    height: 185px;
    margin: 30px 0;
  }

  .main__opinions__tablet-opinion,
  hr {
    display: none;
  }

  /* Location section ==========================================*/

  .main__location {
    padding: 0 7rem;
  }

  .main__location__title {
    margin-top: 6.5rem;
  }

  .main__location__map {
    height: 25rem;
  }
}
