@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --bg-color: #f3e5d8;
  --green: #255538;
  --light-brown: #7e4333;
  --first-font: "DM Serif Display", serif;
  --secundary-font: "DM Sans", sans-serif;
}

/* Globals ================================================================================================*/

body {
  transition: color 0.3s ease-out;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.main__aside__more-recipes__recipe__link {
  text-decoration: none;
}

.main__recipe__description,
.main__recipe__details__list__item,
.main__recipe__instructions__list__item,
.main__aside__ingredients__list__item,
.main__aside__ingredients__nutrition__info__text,
.main__aside__more-recipes__recipe__info__description {
  font-family: var(--secundary-font);
  font-size: clamp(0.7rem, 2.85vw, 2.85vw);
}

.main__recipe__details__title,
.main__recipe__instructions__title,
.main__aside__ingredients__title,
.main__aside__ingredients__nutrition-title,
.main__aside__more-recipes__title {
  font-size: clamp(1.2rem, 4.4vw, 4, 4vw);
  margin: 0;
  color: var(--light-brown);
}

/* Dark Mode ==============================================================================================*/

#light-mode-icon {
  display: none;
}

body.dark-mode,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode .main__aside__ingredients__nutrition__info__text,
body.dark-mode .main__aside__more-recipes__recipe__info__description {
  color: white;
}

body.dark-mode .main__recipe,
body.dark-mode .main__aside__ingredients,
body.dark-mode .main__aside__more-recipes {
  background-color: #2f2f2f;
}

body.dark-mode .main__recipe__details {
  background-color: #4e4d4e;
}

body.dark-mode .main__aside__ingredients__nutrition__info__text {
  border-bottom: solid white 1.5px;
}

body.dark-mode::-webkit-scrollbar, 
body.dark-mode scrollbar {
  background-color: #2f2f2f;
  border: #deccba 2px;
  border-bottom: none;
  border-top: none;
}

body.dark-mode::-webkit-scrollbar-thumb, 
body.dark-mode scrollbar thumb {
  background-color: #2e7d4f;
}

/* Recipe Section =========================================================================================*/

.main__recipe,
.main__aside__ingredients,
.main__aside__more-recipes {
  margin: 2.3rem 0.8rem;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  transition: box-shadow 0.4s ease;
}

.main__recipe:hover,
.main__aside__ingredients:hover,
.main__aside__more-recipes:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.495);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.486);
}

.main__recipe__image {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.main__recipe__title {
  color: var(--light-brown);
  font-size: clamp(1.5rem, 7.2vw, 7.2vw);
}

.main__recipe__details {
  background-color: #ffeef8;
  padding: 0.8rem 1rem;
  border-radius: 10px;
}

.main__recipe__details__list,
.main__recipe__instructions__list {
  margin: 0.8rem 0;
  padding: 0 20px;
}

.main__recipe__instructions {
  margin-top: 30px;
}

.main__recipe__instructions__list__item {
  padding: 0.3rem 0;
}

/* Ingredients Section ====================================================================================*/

.main__aside__ingredients__title {
  margin-top: 0.4rem;
}

.main__aside__ingredients__list {
  padding-left: 1.5em;
}

.main__aside__ingredients__list__item {
  padding-bottom: 0.2rem;
}

.main__aside__ingredients__nutrition {
  display: flex;
  justify-content: space-between;
}

.main__aside__ingredients__nutrition__info__text {
  border-bottom: solid var(--light-brown) 1.5px;
}

.main__aside__ingredients__nutrition__info {
  width: 50%;
}

.main__aside__ingredients__nutrition__info__text {
  padding: 0.6rem 0;
}

.main__aside__ingredients__nutrition__info__text--values {
  padding-left: 3em;
  color: var(--light-brown);
  font-weight: 700;
}

/* More Recipes Section ===================================================================================*/

.main__aside__more-recipes {
  margin-bottom: 3rem;
}

.main__aside__more-recipes__recipe {
  color: black;
}

.main__aside__more-recipes__title {
  margin-bottom: 0.7rem;
}

.main__aside__more-recipes__recipe {
  display: flex;
}

.main__aside__more-recipes__image {
  width: 4rem;
  height: 3.5rem;
  margin: 0.3rem 0;
  border-radius: 5px;
}

.main__aside__more-recipes__recipe__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.2rem;
  padding: 0 1rem;
}

.main__aside__more-recipes__recipe__info__title {
  font-size: clamp(0.7rem, 3.68vw, 1rem);
  margin: 0;
}

.main__aside__more-recipes__recipe__info__description {
  margin: 0;
  font-size: 0.6rem;
}

/* ScrollBar ==============================================================================================*/

::-webkit-scrollbar {
  background-color: #deccba;
  border: 2px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 100px;
}

/* ScrollBar Firefox ======================================================================================*/

scrollbar {
  background-color: #deccba;
  border: 2px solid black;
  border-radius: 2px;
}

scrollbar thumb {
  background-color: var(--green);
  border-radius: 100px;
}

/* ======================================================================================================= */
/* Tablet Mode */
/* ======================================================================================================= */

@media (min-width: 768px) {

  .main__recipe,
  .main__aside__ingredients,
  .main__aside__more-recipes {
    padding: 1.5rem;
  }

  .main__aside__more-recipes__image {
    width: 6rem;
    height: 5rem;
    margin-left: 0.2rem;
  }

  .main__aside__more-recipes__recipe__info {
    padding-left: 2rem;
  }

  .main__aside__more-recipes__recipe__info__title {
    font-size: clamp(1.1rem, 3.68vw, 3.68vw);
  }

  .main__aside__more-recipes__recipe__info__description {
    font-size: 1em;
  }
}

/* ======================================================================================================= */
/* Desktop Mode */
/* ======================================================================================================= */

@media (min-width: 1024px) {

  /* Main recipes section========================= */

  .main {
    margin: 0.5rem auto;
    width: 82vw;
    max-width: 100rem;
    height: auto;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "recipe recipe_details";
  }

  .main__recipe {
    grid-area: recipe;
  }

  .main__aside {
    grid-area: recipe_details;
  }

  .main__recipe__title {
    font-size: 2em;
    margin: 0.5rem 0;
  }

  .main__recipe__image {
    height: 18rem;
  }

  .main__recipe__details__title,
  .main__aside__more-recipes__recipe__info__title {
    font-size: 1.3em;
  }

  .main__recipe__instructions__title,
  .main__aside__ingredients__title,
  .main__aside__ingredients__nutrition-title,
  .main__aside__more-recipes__title {
    font-size: 1.8em;
    margin: 0;
  }

  .main__aside__more-recipes__title {
    margin-bottom: 1rem;
  }

  .main__recipe__description,
  .main__recipe__details__list__item,
  .main__recipe__instructions__list__item,
  .main__aside__ingredients__nutrition__info__text {
    font-size: 1em;
  }

  /* Aside section =================================== */

  .main__aside__ingredients {
    margin-bottom: 0.5rem;
  }

  .main__aside__ingredients__list__item {
    font-size: 0.9em;
  }

  .main__aside__more-recipes__recipe__info {
    padding-left: 1em;
  }

  .main__aside__ingredients__nutrition__info__text {
    margin: 0;
  }

  .main__aside__more-recipes {
    padding-right: 1px;
    margin-top: 1rem;
  }

  .main__aside__more-recipes__image:hover {
    transform: scale(1.1);
  }

  .main__aside__more-recipes__recipe__info__title {
    font-size: 1em;
  }

  .main__aside__more-recipes__recipe__info__description {
    font-size: 0.8em;
  }

  .main__aside__more-recipes__image {
    width: 5rem;
    height: 4rem;
  }
}
